.Header{
    min-width: fit-content;
    max-width: 1920px;
    /* height: ; */
    background-color: rgb(173, 248, 205);
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.h1{grid-row: 1;}