.App {
  text-align: center;
}

.MainPage{
  display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1.2fr 0.3fr 2fr 2fr 1fr ;
justify-content : center;
background-color: rgb(187, 134, 19);
/* min-height: 300px; */
height:fit-content;


}
.quantity_books{
  margin: 0 auto;
  justify-items: center;
  grid-column: 1/6;
  grid-row: 2/3;
  align-items: center;
}
.load_more{
  width: 100px;
  height: 20px;
  grid-column: 1/6;
  grid-row: 5;
  margin:0 auto;
}
